{% extends 'sidebar.html'%}
{% from '_cliente_card.html' import gerar_card %}


{% block content %}
{% if current_user.hierarquia == 1 %}
    <h3 style="text-align: center;">Clientes - {{ clientes.count() }}</h3>
    {% else %}
        <h3 style="text-align: center;">Clientes - {{ clientes|length }}</h3>
{% endif %}

{% for cliente in clientes %}
{% if loop.index % 2 != 0  %}
    <hr>
    <div class="container" style="margin: 1%;">
      <div class="row d-flex justify-content-center align-items-center">
        {{ gerar_card(cliente) }}

{% else %}
        {{ gerar_card(cliente) }}
      </div>
    </div>
{% endif %}
{% endfor %}
{% endblock %}