<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>CONFIRME</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href= "{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href= "{{ url_for('static', filename='/css/etapas.css') }}" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>

<body>

  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title home text-center">
            <img src="{{ url_for('static', filename='images/logos/base360.png') }}" style="width:50%;">
          </div>          
          <div class="section-title">
            <h2>CONTRATO</h2>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div class="info-box mb-4">
                {% block content %}

                {% endblock %}
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
  </section>
</body>
</html>