<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>CONFIRME</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href= "{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href= "{{ url_for('static', filename='/css/etapas.css') }}" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>

<body>

  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title home text-center">
            <img src="{{ url_for('static', filename='images/logos/base360.png') }}" style="width:50%;">
          </div>          
          <div class="section-title">
            <h2>ACESSO AO CONTRATO</h2>
            <p>CONFIRME SEU CPF</p>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div class="info-box mb-4">
                {% block content %}

                {% endblock %}
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
  </section>
                <div class="preechimento5">
                    <table>
                      <thead>
                          <tr>
                              <th>Descrição detalhada</th>
                              <th>Período de utilização</th>
                              <th>Valor total destinado para essa aquisição</th>
                              <th>Justificativa</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>TESTE</td>
                            <td>TESTE</td>
                            <td>TESTE</td>
                            <td>TESTE</td>
                          </tr>
                          <tr>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <div class="preechimento6">
                  <ul>
                    <p>Plano de marketing e estratégias de continuidade do seu projeto (Aqui deverá ser preenchido o planejamento de estratégia para alavancagem do produto/empresa e como sua empresa permanecerá ativa após o término do recurso)</p>
                  </ul>
                  <form>
                    <div class="">
                      <div class="col-md-12">
                        <input class="form-control text-center" type="text" id="resposta6" placeholder="Digite a sua resposta" required>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="preechimento7">
                  <ul>
                    <p>Resumo de planos futuros (Se pretende ter algum negócio social e se tem planos de expansão e afins)</p>
                  </ul>
                  <form>
                    <div class="">
                      <div class="col-md-12">
                        <input class="form-control text-center" type="text" id="resposta7" placeholder="Digite a sua resposta" required>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="preechimento8">
                  <ul>
                    <p>Nesta seção deverá ser preenchido a contrapartida social (Ou seja, dos 10% da verba destina ao CANS, 5% ficará para o CANS e os demais serão destinados a instituição descrita abaixo) -  Descreva a instituição</p>
                  </ul>
                  <form>
                    <div class="">
                      <div class="col-md-12">
                        <input class="form-control text-center" type="text" id="resposta8" placeholder="Digite a sua resposta" required>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>