{% extends 'etapas.html' %}

{% block content %}

<div class="video" style="margin-left: 25%;" id="videoid">
  <div class="col-md-12">
    <figure>
      <video id="video" style="width: 151%;" src="https://assets.codepen.io/9632/SampleVideo_1280x720_1mb.mp4"></video>
      <figcaption style="width: 151%;" >
        <label id="timer" for="progres" role="timer"></label>
        <button id="play" aria-label="Play" role="button">►</button>
        <progress id="progres" max="100" value="0">Progress</progress>
      </figcaption>
    </figure>
  </div>
</div>


<div class="info-luiz" id="info-luiz">
    {% block table %}
    {% from '_form_errors.html' import render_error %}

  <div id="tab_form" hx-target="this" hx-swap="outerHTML">
  <table id="tabela" class="table">
    <thead>
        <tr>
            <th scope="col">Descrição detalhada</th>
            <th scope="col">Período de utilização</th>
            <th scope="col">Valor total destinado para essa aquisição</th>
            <th scope="col">Justificativa</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
      {% for field in g.preenchimento.detalhes %}
        <tr>
            <td style="height: 100%; width: 100%;">{{field.descricao}}</td>
            <td>{{field.periodo}}	</td>
            <td>{{field.valor}}	</td>
            <td>{{field.justificativa}}</td>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff9300" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
                </svg>
            </td>
        </tr>
      {% endfor %}

        <tr>
                {{ prop_form.hidden_tag() }}
          {% for field in prop_form if field.name not in ['csrf_token'] %}
                <td>
                    {{field(required=False, value=field.data if field.data, style="height: 100%; width: 100%;")}}
                    {{ render_error(field) }}
                </td>

          {% endfor %}
                <td><button hx-trigger="click" hx-post="{{ alvo }}" hx-include="closest tr">Adicionar</button></td>
        </tr>
    </tbody>
  </table>
  <br>
      {% if alvo2 %}
      <button class="btn btn-primary" style="background-color: #ffa500; border-color: #ffa500;" hx-get="{{ alvo2 }}">Avançar</button>
      {% endif %}

  </div>
    {% endblock %}
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var video = document.getElementById('video');
    var infoLuiz = document.getElementById('info-luiz');
  
    // Adicione um ouvinte de evento para o evento 'ended' do vídeo
    video.addEventListener('ended', function () {
      // Exiba a seção 'info-luiz' após o vídeo ser concluído
      infoLuiz.style.display = 'block';
    });
  
    // Também pode ser uma boa ideia ocultar inicialmente a seção 'info-luiz'
    infoLuiz.style.display = 'none';
  });
  </script>
  <script>
    const progress = document.getElementById("progres");
  const timer = document.getElementById("timer");
  button = document.getElementById("play");
  
  function progressLoop() {
    setInterval(function () {
      progress.value = Math.round((video.currentTime / video.duration) * 100);
      timer.innerHTML = Math.round(video.currentTime) + " seconds";
    });
  }
  
  function playPause() {
    if (video.paused) {
      video.play();
      button.innerHTML = "&#10073;&#10073;";
    } else {
      video.pause();
      button.innerHTML = "►";
    }
  }
  
  button.addEventListener("click", playPause);
  video.addEventListener("play", progressLoop);
  </script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var video = document.getElementById('video');
    var videoDiv = document.getElementById('videoid');

    // Adicione um ouvinte de evento para o evento 'ended' do vídeo
    video.addEventListener('ended', function () {
      // Oculte a div do vídeo após o vídeo terminar
      videoDiv.style.display = 'none';
    });

    // Também pode ser uma boa ideia ocultar inicialmente a div do vídeo
    videoDiv.style.display = 'block'; // ou 'none' se você deseja ocultá-lo inicialmente
  });
</script>

<script>
  htmx.onLoad(function(target) {
  var popup = document.getElementById('popup');
  var adicionarBtn = document.getElementById('adicionar');
  var cancelarBtn = document.getElementById('cancelar');

  // Crie um elemento div para a camada de fundo opaca
  var overlay = document.createElement('div');
  overlay.style.position = 'fixed';
  overlay.style.top = '0';
  overlay.style.left = '0';
  overlay.style.width = '100%';
  overlay.style.height = '100%';
  overlay.style.backgroundColor = 'rgba(0, 0, 0, 0.7)';
  overlay.style.zIndex = '998'; // Coloque abaixo do pop-up
  overlay.style.display = 'block';
  popup.style.display = 'block';


    // Adicione a camada de fundo ao corpo do documento
  document.body.appendChild(overlay);

  cancelarBtn.addEventListener('click', function () {
    popup.style.display = 'none';
    overlay.style.display = 'none';
  });

});
</script>
{% endblock %}

